.textField {
  margin-bottom: 15px;

  &::before, &::after {
    display: none;
  }
  input {
    font-size: 36px;
    font-weight: 500;
    border: none;
    &::placeholder {
      color: #D1D1D1;
    }
  }
}

.editor {
  font-size: 18px;
  height: calc(100vh - 220px);
}
