
.input {
  margin: 20px 0;
  width: 100%;
  background: #f7f7f7;
  font-size: 16px;
  padding: 15px 25px 15px 25px;
  border-radius: 10px;
  color: #323232;
  transition: all 0.1s ease-in-out;
  border: 1px solid rgba(0,0,0,.03);
  @media (max-width: 850px) {
    width: 238px;
  }
  position: relative;

  &:hover, &:focus {
    background: #fff;
    border-color: #bdd6fa;
    box-shadow: 0 0 0 3px #E8F0FB;
  }

  button {
    margin-top: 15px;
    width: 110px;
  }
}

.disableButton {
  background-color: #A2C1EC !important;
  color: #fff !important;
}

.rootInput {
  &::before, &::after {
    display: none;
  }
}
